<html>
	{% load staticfiles %}
	
	<script type="text/javascript" src={% static 'js/first.js' %}></script>
	<link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
	
	
	<head><title>Homepage</title></head>
	
	<body>
		
		{% include "header.html"%}
		<h1>Politics</h1>
		<ul>
			{%for news in pnews%}
				<li>{{ news }} (rating: {{news.rating}})</li>
			{%endfor%}
		</ul>
		
		<img src="{% static 'img/board.png' %}" />
		
		<h1>Finance</h1>
		<ul>
			{%for news in fnews%}
				<li>{{ news }} (rating: {{news.rating}})</li>
			{%endfor%}
		</ul>
		
		<img src="{% static 'img/board.png' %}" />
		
		<h1>Science</h1>
		<ul>
			{%for news in snews%}
				<li>{{ news }} (rating: {{news.rating}})</li>
			{%endfor%}
		</ul>
		
		<img src="{% static 'img/board.png' %}" />
		
		<h1>Culture</h1>
		<ul>
			{%for news in cnews%}
				<li>{{ news }} (rating: {{news.rating}})</li>
			{%endfor%}
		</ul>
		
		<img src="{% static 'img/board.png' %}" />
		
		<p>This is your not first page</p>
		<p>Sincerely, author</p>

		<input type="button" onclick="count_rabbits()" value="Считать кролей!"/>

	</body>

</html>